<div class="container" #container>

  <!-- Contact form container -->
  <div class="form-container">

    <h2>Kontakt</h2>
    <p>
      Skontaktuj się ze mną wysyłając e-mail na <span class="mail">jswierczek213@gmail.com</span> lub poprzez poniższy formularz
    </p>

    <!-- Error container -->
    <div class="error-container"
    *ngIf="(displayInfo && success) || (displayInfo && displayServerErrors) || (displayInfo && displayLocalErrors && contact.invalid)">
      <ng-container *ngIf="success">
        <h3>Wysyłanie powiodło się</h3>
      </ng-container>
      <ng-container *ngIf="displayServerErrors">
        <h3 style="color: red;">Błąd</h3>
        <p>Wystąpił błąd, spróbuj ponownie</p>
      </ng-container>
      <ng-container *ngIf="displayLocalErrors && contact.invalid">
        <h3 style="color: red;">Błąd</h3>
        <p *ngIf="contact.controls.email.invalid">Podaj prawidłowy e-mail</p>
        <p *ngIf="contact.controls.subject.invalid">
          Temat musi posiadać minimum 3 znaki
          <span class="characters-count">{{ subject.value.length }} / 3</span>
        </p>
        <p *ngIf="contact.controls.text.invalid">
          Treść wiadomości musi posiadać minimum 10 znaków
          <span class="characters-count">{{ text.value.length }} / 10</span>
        </p>
      </ng-container>
    </div>

    <!-- Contact form -->
    <form [formGroup]="contact" (ngSubmit)="submit()" autocomplete="off" novalidate>

      <!-- E-mail -->
      <div class="form-field">
        <label for="email">E-mail</label>
        <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Twój e-mail..." />
      </div>

      <!-- Subject -->
      <div class="form-field">
        <label for="subject">Temat</label>
        <input
        #subject
        id="subject"
        formControlName="subject"
        type="text"
        placeholder="Temat e-maila..." />
      </div>

      <!-- Message -->
      <div class="form-field">
        <label for="message">Wiadomość</label>
        <textarea
        #text
        id="message"
        formControlName="text"
        placeholder="Treść wiadomości..."></textarea>
      </div>

      <!-- Submit button & loading information -->
      <div class="submit-btn-container">
        <button type="submit" class="submit" [disabled]="disabled">Wyślij</button>
        <p class="loader" *ngIf="displayLoader">Wysyłanie...</p>
      </div>

    </form>

  </div>
  
</div>
