<div class="container">

  <!-- Scroll animated button -->
  <div class="scroll-icon-container">
    <div class="icon-move-path">
      <i class="material-icons custom">arrow_downward</i>
    </div>
  </div>

  <!-- Name with job position -->
  <div class="bg-purple">
    <div class="name-container">
      <h1 class="full-name">Jakub Świerczek</h1>
      <h3 class="job-position">Junior Front-End Developer</h3>
    </div>
  </div>

  <!-- Few words about me -->
  <div class="introduction-container">
    <h2 class="about-me-heading">
      O mnie<br/>
      <div class="underline"></div>
    </h2>
    <p class="introduction">
      Hej, mam 19 lat i mieszkam w okolicach <span class="important">Krakowa</span>.<br/>
      Od kilku lat rozwijam się w kierunku <span class="important">tworzenia witryn internetowych</span>. Na codzień utrwalam oraz poszerzam swoje umiejętności, poprzez tworzenie własnych projektów, korzystając przy tym z frond-endowych technologii. Ponadto cenię sobie jakość kodu i staram się go pisać w sposób zrozumiały dla innych.<br/>
      Obecnie poszukuję swojej pierwszej pracy jako <span class="important">junior front-end developer</span>, aby mieć możliwość rozwoju współpracując z innymi.
    </p>
  </div>

</div>
