<div class="container">

  <!-- Scroll animated button -->
  <div class="scroll-icon-container" (click)="viewNextSection()">
    <div class="icon-move-path">
      <i class="material-icons custom">arrow_downward</i>
    </div>
  </div>

  <!-- Name with job position -->
  <div class="name-container">
    <h1 class="full-name">Jakub Świerczek</h1>
    <h3 class="job-position">JUNIOR FRONT-END DEVELOPER</h3>
  </div>

  <!-- Few words about me -->
  <div class="introduction-container">
    <h2 class="about-me-heading">O mnie</h2>
    <p class="introduction">
      Hej, od kilku lat rozwijam się w kierunku <span class="important">tworzenia witryn internetowych</span>. Na co dzień utrwalam oraz poszerzam swoje umiejętności, poprzez tworzenie własnych projektów, korzystając przy tym z front-endowych technologii. Ponadto cenię sobie jakość kodu i staram się pisać go w sposób zrozumiały dla innych. Obecnie poszukuję swojej pierwszej pracy jako <span class="important">junior front-end developer</span>.
    </p>
  </div>

</div>
