@import '../../../assets/styles/variables.scss';

// Desktop navbar styles
nav.desktop-nav {
  position: fixed;
  top: 0px;
  left: -150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 150px;
  height: 100vh;
  background-color: $black;
  user-select: none;
  z-index: 2;

  .item {
    text-align: center;
    color: $orange;
    padding: 1em 0;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $purple;

      .link-name-container {
        .link-name {
          background-color: $purple;
        }
      }
    }

    .icon-container {
      .custom {
        font-size: 80px;

        @media screen and (max-height: 600px) {
          font-size: 60px;
        }
      }
    }

    .link-name-container {
      .link-name {
        display: inline-block;
        padding: 5px 15px;
        background-color: $orange;
        color: $black;
        border-radius: 5px 15px;
        transition: background-color 0.5s;
      }
    }

  }

  .active {
    color: $purple;

      .link-name-container {
        .link-name {
          background-color: $purple;
        }
      }
  }
}

.toggle-nav-container {
  position: fixed;
  top: 20px;
  left: 0px;
  width: fit-content;
  cursor: pointer;
  background-color: $black;
  user-select: none;
  z-index: 2;

  &:hover {
    .custom {
      color: $purple;
    }
  }

  .custom {
    display: block;
    font-size: 60px;
    color: $orange;
    transition: color 0.5s;
  }
}

// Mobile navbar styles

nav.mobile-nav {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;

  .links-container {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    justify-items: stretch;

    .link {
      padding: 0.5em;
      color: $orange;
      background-color: $black;
      border-radius: 50%;
      box-shadow: 0 0 5px $black;
      opacity: 0;
      animation-name: fadeIn;
      animation-timing-function: linear;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      &:nth-of-type(1) {
        animation-delay: 0;
      }

      &:nth-of-type(2) {
        animation-delay: 100ms;
      }

      &:nth-of-type(3) {
        animation-delay: 200ms;
      }

      &:nth-of-type(4) {
        animation-delay: 300ms;
      }

      .link-icon-container {
        width: 100%;
        text-align: center;

        .custom {
          font-size: 30px;
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .active {
      color: $purple;
    }
  }

  .btn-container {
    width: 20%;

    .nav-toggle-btn {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;
      background-color: $black;
      color: $white;
      z-index: 2;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0.5em;
      box-shadow: 0 0 5px $black;
      opacity: 0.9;
    }
  }
}

.align-right {
  justify-content: flex-end !important;
}
