<div class="container">

  <div class="projects-heading">
    <h2>Projekty</h2>
    <p>Moje poprzednio wykonane prace</p>
  </div>

  <div class="projects-container">

    <!-- Project layout -->
    <div class="project" *ngFor="let project of projects; let i = index" >

      <div class="project-name-container">
        <h3> {{ project.name }} </h3>
        <p>
          {{ project.description }}
        </p>
      </div>

      <div class="image-container">

        <!-- Previous - arrow -->
        <div class="btn-container">
          <button (click)="prev(project.currentImage, i)">
            <i class="material-icons medium">navigate_before</i>
          </button>
        </div>

        <!-- Project image -->
        <img
        [src]="project.images[project.currentImage]"
        alt="Project image"
        (click)="openImageInNewTab(project.images[project.currentImage])" />

        <!-- Next - arrow -->
        <div class="btn-container">
          <button (click)="next(project.currentImage, i)">
            <i class="material-icons medium">navigate_next</i>
          </button>
        </div>

      </div>

      <div class="links-container">
        <a
        [href]="project.githubLink"
        target="_blank"
        class="github">
          Kod
        </a>

        <a
        [href]="project.previewLink"
        target="_blank"
        class="live">Podgląd</a>
      </div>
      
    </div>

  </div>

</div>
