// Colors
$white: #F2ECFF;
$black: #1C1C1C;
$grey: #474747;
$green: #C8FCEA;
$yellow: #F9F871;
$orange: #F9B465;
$purple: #8083FF;
$deepPurple: #1A1B4A;
$brown: #442A29;
$blue: #26A9B9;
$lightBrown: #925867;
$lightBlue: #00E5B0;
$lightBlack: #434343;
