@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: $white;

  .material-icons.small {
    font-size: 18px;
  }

  .material-icons.medium {
    font-size: 24px;
  }

  .material-icons.big {
    font-size: 36px;
  }

  .material-icons.large {
    font-size: 48px;
  }

  h1, h2, h3 {
    font-weight: 400;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  input, textarea {
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 5px $black;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }
  }
}
